 body {
     background-color: rgb(255, 190, 93);
 }
 
 h1 {
     text-align: center;
     color: blueviolet;
 }

 .recipe {
     height: 250px;
     width: 200px;
     padding: 10px;
     margin: 5px;
     text-align: center;
     background-color: azure;
 }

 div img {
     width: 200px;
     height: 200px;
 }