 body {
     background-color: rgb(255, 190, 93);
     font-family: Arial, Helvetica, sans-serif;
 }
 
 h1 {
     text-align: center;
     color: blueviolet;
 }

 .content {
     background-color: black;
     display: flex;
 }

 .recipe {
     flex: 1;
     padding: 15px;
     margin: 15px;
     background-color: azure;
     text-align: center;
 }

 .recipe img {
     width: 300px;
     height: 300px;
 }